h1,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

:root{
    --black-color: #1E1E1E;
}


.text{
    color: var(--black-color);
font-family: Inter;
font-size: 40px;
font-style: italic;
font-weight: 200;
line-height: normal;
}

.adress-list{
  color: var(--black-color);
}

.homepage-img{
    position: absolute;
    object-position: center top;
    height: 100%;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;

}


.sex-list{
  position: relative; 
  display: flex;
  gap: 170px;
}
