h1,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

:root{
    --black-color: #1E1E1E;
}


.text{
    color: #1E1E1E;
font-family: Inter;
font-size: 40px;
font-style: italic;
font-weight: 200;
line-height: normal;
}
